.Item {
  width: 100%;
  height: 100%;

  box-shadow: 0 1vw 2.5vw black;

  cursor: pointer;

  img,
  iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;

    pointer-events: none;
  }
}
