.Item {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 1vw 2.5vw black;
          box-shadow: 0 1vw 2.5vw black;
}

.Item img,
.Item iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}
