.Gallery {
  flex: 1;
  position: relative;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  gap: 2vw;
  justify-content: center;

  width: 100%;

  // border: 5px solid green;

  padding: 5vw 0;
}
