.App {
  text-align: center;

  width: 100%;
  min-height: 100vh;

  border: 5px solid red;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.App header {
  font-size: 2vw;
}
.App header a {
  text-decoration: none;
  color: black;
}

.App input {
  text-align: center;
  margin: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  font-size: 5vw;
  box-shadow: 0.3vw 0.3vw 0.75vw black;
  outline: none;
}

.App .imageWithDescription iframe {
  width: 100%;
  height: 40vw;
}

.App .imageWithDescription img {
  width: 100%;
  height: auto;
}

.App .imageWithDescription h2 {
  font-size: 5vw;
}

.App .imageWithDescription .description {
  font-size: 3vw;
}

.App .imageWithDescription .image p {
  font-size: 3vw;
}

.App .imageWithDescription {
  width: 70vw;

  border: 5px solid green;
}
