.Header {
  text-align: center;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 5vw;
  background-color: gray;
}

.Header a {
  text-decoration: none;
  color: black;
  padding: 0 0.5em;
}

.Header a:hover, .Header a.active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(grey), to(white));
  background-image: linear-gradient(to top, grey, white);
}
