.Header {
  text-align: center;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 5vw;

  background-color: gray;

  a {
    text-decoration: none;
    color: black;
    padding: 0 0.5em;

    &:hover,
    &.active {
      background-image: linear-gradient(to top, grey, white);
    }
  }
}
